<div class="w-[100%] h-[100%] flex flex-col py-3 px-5 items-center">
    <img src="/images.png" class="hidden md:w-[150px] md:block"  alt="">
    <div class="flex  border-b text-white md:mt-3 w-[100%] items-center justify-center gap-2 py-1 rounded-t-md">
        <mat-icon aria-hidden="false" color="white" aria-label="Example home icon" fontIcon="history"></mat-icon>
        <h1 class=" ">Historial</h1>
    </div>
    <div class="mt-2 w-[100%] h-[100%] overflow-auto">
        <table class="w-[100%]">
            <thead class="">
                <tr class="bg-background text-white  text-left  ">
                    <th class=" pl-1 font-light">Ciudad</th>
                    <th class="font-light">Fecha</th>
                    <th class="font-light">C°</th>
                </tr>
            </thead>
            <tbody>
                @for (item of historical; track $index) {
                <tr class="bg-backgroundB hover:bg-backgroundC hover:cursor-default">
                    <td class="pl-1">{{item.ciudad}} </td>
                    <td>{{item.fecha}}</td>
                    <td>°{{item.temperatura}}</td>
                </tr>
                }
                
            
            </tbody>
        </table>           
    </div>

</div>
