/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


@theme {
    --color-background:rgba(84, 92, 90, 0.584);
    --color-backgroundB:rgba(123, 127, 126, 0.379);
    --color-backgroundC:rgba(214, 228, 188, 0.379);
}

.color{
    color:rgba(214, 228, 188, 0.379);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
