<div class="bg-background">
<div class="  border-b-1 border-white flex px-2 gap-3 justify-between">
    <div action="" class="my-1  text-white  bg-backgroundB flex items-center border-b border-white">
        <input name="city" type="text" class=" outline-none pl-2 w-[80%]  ">
        <mat-icon aria-hidden="false" class="" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        
            
        
    </div>
    <button (click)="refreshData()" class="bg-backgroun border hover:bg-backgroundC hover:cursor-pointer my-1 px-4 text-white">Buscar</button>
</div>
</div>
